{% extends 'base.html' %}

{% block title %}About "{{ user | title }}"{% endblock title %}

{% block content %}

	<div class="container">
		{% include 'accounts/profile_start.html' %}

		<div class="row p-3">
			<!-- About - Profile -->

			<div class="col-12">

				<!-- Profile Info -->

				<div class="p-3 mt-2 card bg-white">
					<h4 class="mb-3 font-weight-bold">Profile Info</h4>
					<div class="border rounded p-2 mt-2">
						{% if user.userprofile.overview %}

							<div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
								<h6 class="font-weight-bold">Overview</h6>
								{% if request.user == user %}

									<div class="dropdown">
										<button class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-ellipsis-h"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="javascript:void()" class="dropdown-item hover-blue" data-toggle="modal" data-target="#overview-update-form{{ user.pk }}">
												<i class="fa fa-edit mr-1"></i>
												Edit
											</a>
											<a href="#" class="dropdown-item hover-blue" data-toggle="modal" data-target="#overview-delete-form{{ user.pk }}">
												<i class="fa fa-trash mr-1"></i>
												Delete
											</a>
										</div>
									</div>

								{% endif %}
							</div>
							<p class="text-muted">
								{{ user.userprofile.overview }}
							</p>

						{% else %}

							{% if request.user == user %}

								<div class="d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#overview-update-form{{ user.pk }}" style="height: 100px; cursor: pointer;">
									<p class="f-w6 text-muted">
										<i class="fa fa-plus-circle"></i>
										<span>Add Overview</span>
									</p>
								</div>

							{% else %}

								<div class="d-flex align-items-center justify-content-center" style="height: 100px;">
									<p class="f-w6 text-muted">
										<span>No Overview Added</span>
									</p>
								</div>

							{% endif %}

						{% endif %}

						{% include 'accounts/pa_modalform.html' with field_name='overview' model=user.userprofile model_name='userprofile' %}
						
					</div>
					<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 20px;" class="text-muted mt-4 about-grid">
						{% for field_name, content in field_dict.items %}
							<div class="d-flex flex-wrap align-items-center justify-content-between p-2 rounded border">
								{% if content.field_value %}

									<div class="d-flex flex-wrap align-items-center">
										<i class="{{ content.icon_class }} mr-2"></i>
										<span class="mr-2 text-break">{{ content.field_note }}: </span>
										<span class="font-weight-bold">
											{% if field_name == 'birth_date' or field_name == 'date_joined' %}
												{{ content.field_value | date:"F d, Y" }}
											{% else %}
												{{ content.field_value }}
											{% endif %}
										</span>
									</div>
									{% if request.user == user and field_name != 'date_joined' %}
										<div class="dropdown">
											<button class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-ellipsis-h"></i>
											</button>
											<div class="dropdown-menu dropdown-menu-right">
												<a href="javascript:void()" class="dropdown-item hover-blue" data-toggle="modal" data-target="#{{ field_name }}-update-form{{ user.pk }}">
													<i class="fa fa-edit mr-1"></i>
													Edit
												</a>
												<a href="javascript:void()" class="dropdown-item hover-blue" data-toggle="modal" data-target="#{{ field_name }}-delete-form{{ user.pk }}">
													<i class="fa fa-trash mr-1"></i>
													Delete
												</a>
											</div>
										</div>
									{% endif %}

								{% else %}

									{% if request.user == user %}

										<div class="d-flex flex-wrap align-items-center justify-content-lg-center w-100 f-w6" data-toggle="modal" data-target="#{{ field_name }}-update-form{{ user.pk }}" style="cursor: pointer;">
											<i class="fa fa-plus-circle mr-1"></i>
											<span>
												Add 
												{% if field_name == 'birth_date' %}
													Date Of Birth
												{% elif field_name == 'marital_status' %}
													Marital Status
												{% else %}
													{{ field_name|capfirst }}
												{% endif %}
											</span>
										</div>

									{% else %}

										<div class="d-flex flex-wrap align-items-center justify-content-lg-center w-100 f-w6">
											<span>
												No 
												{% if field_name == 'birth_date' %}
													Date Of Birth
												{% elif field_name == 'marital_status' %}
													Marital Status
												{% else %}
													{{ field_name|capfirst }}
												{% endif %}
											</span>
										</div>

									{% endif %}

								{% endif %}

								{% if content.model_name == 'userprofile' %}
									{% include 'accounts/pa_modalform.html' with field_name=field_name model_name='userprofile' %}
								{% else %}
									{% include 'accounts/pa_modalform.html' with field_name=field_name model_name='user' %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}
	{% include 'accounts/user_follow_script.html' %}
{% endblock js %}
