<div class="row p-3">
	<div class="col-12">
		<div class="bg-white rounded-top">
			<div style="height: 250px; background: url('{{ user.userprofile.get_coverimage }}') no-repeat center; background-size: cover;" class="rounded-top position-relative">
				<div class="position-absolute d-flex justify-content-center justify-content-lg-start w-100" style="top: 100%; transform: translateY(-50%);">
					<div class="rounded-circle p-1 bg-white ml-0 ml-lg-3 profile__profile-img">
						<img src="{{ user.userprofile.get_profileimage }}" class="rounded-circle">
					</div>
				</div>
				<div class="profile__name-row">
					<div class="mt-2 mt-lg-0 d-flex d-lg-block flex-column align-items-center">
						<div class="d-flex flex-column mb-1">
							<h4>
								{{ user.first_name }}
								{{ user.last_name }}
							</h4>
							<span class="text-primary" style="margin-top: -11px; font-size: 17px;">@{{ user.username }}</span>
						</div>
						<div class="d-flex align-items-center text-muted">
							<a href="#" class="text-muted hover-blue">5.3K Followers</a>
							<i class="fa fa-circle mx-2" style="font-size: 5px;"></i>
							<a href="#" class="text-muted hover-blue">400 Following</a>
						</div>
					</div>
					{% if request.user == user %}
						<div class="mt-2 mt-lg-0">
							<a href="#" class="btn btn-danger">
								<i class="fa fa-pen mr-2"></i>
								Edit Profile
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="bg-white profile__pre-about px-3 pb-1 mt-2">
				<div class="d-flex">
					<div class="text-muted mr-3">
						<i class="fa fa-briefcase mr-1"></i>
						<span>Lead Developer</span>
					</div>
					<div class="text-muted mr-3">
						<i class="fa fa-map-marker-alt mr-1"></i>
						<span>New Castle</span>
					</div>
					<div class="text-muted mr-3">
						<i class="fa fa-calendar mr-1"></i>
						<span>Joined on Nov 26, 2019</span>
					</div>
				</div>
				<hr class="mx-n3 my-4">
				<ul class="nav nav-fill">
					<li class="nav-item">
						<a href="{% url 'profile_post' user.pk %}" class="nav-link nav-item-line {% if page == 'profile_post' %}active{% endif %} text-muted font-weight-bold profile__profile-nav-link" style="font-size: 17px;">Post</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'profile_about' user.pk %}" class="nav-link nav-item-line text-muted font-weight-bold profile__profile-nav-link {% if page == 'profile_about' %}active{% endif %}" style="font-size: 17px;">About</a>
					</li>
					<li class="nav-item">
						<a href="../pages/friends.html" class="nav-link nav-item-line text-muted font-weight-bold profile__profile-nav-link {% if page == 'profile_friends' %}active{% endif %}" style="font-size: 17px;">Friends</a>
					</li>
					<li class="nav-item">
						<a href="../pages/profile-photos.html" class="nav-link nav-item-line text-muted font-weight-bold profile__profile-nav-link {% if page == 'profile_photos' %}active{% endif %}" style="font-size: 17px;">Photo</a>
					</li>
					<li class="nav-item">
						<a href="../pages/profile-groups.html" class="nav-link nav-item-line text-muted font-weight-bold profile__profile-nav-link {% if page == 'profile_groups' %}active{% endif %}" style="font-size: 17px;">Groups</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>