{% extends 'base.html' %}

{% block title %} Search "{{request.GET.query}}"{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card p-3 mt-3">
                    {% include 'accounts/search_nav.html' %}
                    <div class="mt-2">
                        {% for user in object_list %}

                            <div class="d-flex mt-3">
                                <div class="rounded-circle" style="width: 50px; height: 50px;">
                                    <img src="{{ user.userprofile.get_profileimage }}">
                                </div>
                                <div class="d-flex flex-column ml-2">
                                    <span class="font-weight-bold">{{ user.userprofile.full_name }}</span>
                                    <a href="{% url 'profile_post' user.pk %}" class="small">@{{ user.username }}</a>
                                </div>
                            </div>

                        {% empty %}

                            <h4 class="text-center text-muted my-3">No result for "{{request.GET.query}}"</h4>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}