{% load chats_tags %}
<div class="rounded border px-3 py-2 py-lg-3 bg-white {% if page != 'thread' %}d-none d-lg-flex{% else %}d-flex{% endif %} flex-column chat-left" style="height: 100%; width: 25%;">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h5 class="font-weight-bold" style="font-size: 22px;">Chats</h5>
            <span class="badge badge-success ml-1 font-weight-normal" style="font-size: 14px;">9</span>
        </div>
        <div class="bg-primary rounded chat-hamburger-menu d-none flex-column justify-content-center align-items-center" style="width: 35px; height: 30px; cursor: pointer;">
            <div class="rounded bg-white" style="width: 15px; height: 3px; margin: 1.5px 10px 1.5px 0;"></div>
            <div class="rounded bg-white" style="width: 15px; height: 3px; margin: 1.5px 0;"></div>
            <div class="rounded bg-white" style="width: 15px; height: 3px; margin: 1.5px -10px 1.5px 0;"></div>
        </div>
    </div>
    <div class="">
        <hr class="mx-n3">
        <div class="">
            <form>
                <div class="form-group position-relative">
                    <input type="text" name="search-chat" class="form-control text-muted" placeholder="Search for chats..." style="padding-right: 35px;">
                    <button type="submit" class="bg-transparent position-absolute border-0" style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i class="fa fa-search text-muted"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-grow-1 chat-list " style="overflow-y: auto;">
        {% for user in thread_users %}

            <div class="rounded py-2 px-3 my-2 d-flex align-items-center position-relative {% if user == chat_user %}current-chat{% endif %}">
                <div class="rounded-circle border border-primary position-relative" style="width: 50px; height: 50px; border-width: 2px !important; padding: 2px;">
                    <img src="{{ user.userprofile.get_profileimage }}" class="rounded-circle">
                </div>
                <div class="d-flex flex-column ml-2">
                    <span class="font-weight-bold">{{ user.userprofile.full_name }}</span>
                </div>
                {% thread_unseen_chat_count request.user.pk user.pk as ucc %}
                {% if ucc %}
                    <span class="badge badge-pill badge-danger f-sm ml-auto">{{ ucc }}</span>
                {% endif %}
                <a href="{% url 'thread_chat' user.pk %}" class="stretched-link"></a>
            </div>

        {% endfor %}
    </div>
</div>