{% extends 'base.html' %}
{% load chats_tags %}
{% load static %}

{% block title %}Chats{% endblock title %}

{% block content %}

	<div style="height: calc(100vh - 68px);">
	    <div class="d-flex flex-column justify-content-center align-items-center h-100 chat-container">
	        
	        <div class="d-flex flex-column flex-lg-row my-3 h-100 w-100">
	            {% thread_list %}

	            <div class="rounded border bg-white px-4 py-3 d-none d-lg-flex justify-content-center align-items-center" style="height: 100%; width: 75%;">
	            	<div style="width: 400px;">
	            		<img src="{% static 'images/chat.png' %}">
	            	</div>
	            </div>
	        </div>
	    </div>
    </div>

{% endblock content %}