<div class="col-lg-3 d-none d-lg-block">
	<div class="bg-white p-3">
		<ul class="list-unstyled">
			<li class="mb-3">
				<a href="{% url 'home' %}" class="d-flex align-items-center text-dark left-nav-link">
					<div style="padding: 10px;" class="rounded-circle d-flex justify-content-center align-items-center bg-light">
						<i class="fa fa-list-alt"></i>
					</div>
					<span class="font-weight-bold ml-2">Feed</span>
				</a>
			</li>
			<li class="mb-3">
				<a href="{% url 'groups' 'all-groups' %}" class="d-flex align-items-center text-dark left-nav-link">
					<div style="padding: 10px;" class="rounded-circle d-flex justify-content-center align-items-center bg-light">
						<i class="fa fa-users"></i>
					</div>
					<span class="font-weight-bold ml-2">Groups</span>
				</a>
			</li>
			<li class="mb-3">
				<a href="#" class="d-flex align-items-center text-dark left-nav-link">
					<div style="padding: 10px;" class="rounded-circle d-flex justify-content-center align-items-center bg-light">
						<i class="fa fa-bell"></i>
					</div>
					<span class="font-weight-bold ml-2">Notifications</span>
				</a>
			</li>
			<li class="mb-3">
				<a href="{% url 'user_settings' %}" class="d-flex align-items-center text-dark left-nav-link">
					<div style="padding: 10px;" class="rounded-circle d-flex justify-content-center align-items-center bg-light">
						<i class="fa fa-gear"></i>
					</div>
					<span class="font-weight-bold ml-2">Settings</span>
				</a>
			</li>
		</ul>
	</div>
</div>