<div class="col-lg-3 d-none d-lg-block">
	<div class="p-3 bg-white">
		<h5 class="font-weight-bold">Messenger</h5>
		<ul class="list-unstyled mt-4">
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/05.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Frances Guerrero</span>
					<i class="fa fa-circle text-success ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/06.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Lori Ferguson</span>
					<i class="fa fa-circle text-success ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/placeholder.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Samuel Bishop</span>
					<i class="fa fa-circle text-danger ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/09.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Luis Crawford</span>
					<span class="ml-auto text-muted">20sec</span>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/04.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Dennis Barrett</span>
					<i class="fa fa-circle text-success ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/08.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Judy Nguyen</span>
					<i class="fa fa-circle text-success ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/10.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Bryan Knight</span>
					<i class="fa fa-circle text-danger ml-auto" style="font-size: 5px;"></i>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/11.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Jacqueline Miller</span>
					<span class="ml-auto text-muted">1min</span>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/13.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Amanda Reed</span>
					<span class="ml-auto text-muted">3min</span>
				</a>
			</li>
			<li class="mt-4">
				<a href="#" class="d-flex align-items-center">
					<div class="rounded-circle" style="width: 35px; height: 35px;">
						<img src="../images/12.jpg" class="rounded-circle">
					</div>
					<span class="ml-2 font-weight-bold text-dark">Larry Lawson</span>
					<span class="ml-auto text-muted">1hr</span>
				</a>
			</li>
		</ul>
	</div>
</div>